<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>MouWorks 2019</title>

    {#<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">#}

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap-ubuntuStyle.min.css" rel="stylesheet">
    <link href="/assets/css/blog.css" rel="stylesheet">
    <link rel="icon" href="/assets/img/choke.png">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <style>
        .cover-banner{
            background-image: url('/assets/img/cover.jpg');
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover;
            height:100px;
        }
    </style>
</head>

{% block body %}
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-10 text-center">
                    <a class="blog-header-logo text-dark" href="#"></a>
                </div>
                <div class="col-1 d-flex justify-content-end align-items-center">
                </div>
            </div>
        </header>
        <div class="">
        </div>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark cover-banner">
            <div class="col-md-6 px-0">
                <h1 class="display-8 ">MouWorks 2019</h1>
            </div>
        </div>
        <div class="row mb-2">
            <!--- entire row --->
            <div class="col-md-12">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        </strong>
                        <div class="tags">
                        </div>
                        <h3 class="mb-0">
                            <a href="https://jobHuntr.work/awshack" title="jobHuntr" target="_blank">jobHunter</a>
                        </h3>
                        <br/>
                        <h4 class="mb-0">
                            2019 AWS HackNRoll 微服務架構組第三名
                        </h4>
                        <p class="card-text mb-auto">
                            將既有的 Laravel Singleton 架構解構成 AWS 架構<br/>
                            使用 AWS CDK, ECS Fargate, DynamoDB, CloudSearch, Lambda, API Gateway <br/>
                        </p>
                        <h4 class="mb-0">
                            <a href="https://github.com/mouWorks/jobHunter" title="Repo" target="_blank">Repo</a>
                            <span> |   </span>
                            <a href="https://doc.m0u.work/projects/jobHunter.html" title="Doc" target="_blank">Doc</a>
                            <span> |   </span>
                            <a href="https://doc.m0u.work/projects/jobHunter_slides.html" title="Slides" target="_blank">Slides</a>
                            <span> |   </span>
                            <a href="https://www.twitch.tv/videos/509372078?fbclid=IwAR1FHtolEi0fsQyL3gz0ID0CK6kbkqI4ZSjwL3ifTv652saP02fPmCaZKAU&t=2h37m15s" title="Demo" target="_blank">DemoReplay@Twitch</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        </strong>
                        <div class="tags">
                        </div>
                        <h3 class="mb-0">
                            104 New Start
                        </h3>
                        <br/>
                        <h4 class="mb-0">
                            2016 104 Hackathon 佳作
                        </h4>
                        <p class="card-text mb-auto">
                            MobileWeb<br/>
                            運用既有104 JobApi 創作的概念作品<br/>
                        </p>
                        <h4 class="mb-0">
                            <a href="https://github.com/mouWorks/m1ga" title="Repo" target="_blank">Repo</a>
                            <span> |   </span>
                            <a href="https://doc.m0u.work/projects/m1ga.html" title="Doc" target="_blank">Doc</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        </strong>
                        <div class="tags">
                        </div>
                        <h3 class="mb-0">
                           Code POC
                        </h3>
                        <br/>
                        <h4 class="mb-0">
                            <a href="{{ constant('BASE_PATH') }}timeSync" title="時間測試">TimeSync</a>
                        </h4>
                        <span class="card-text mb-auto">
                            測試時間在Server端同步問題
                        </span>
                        <h4 class="mb-0">
                            <a href="{{ constant('BASE_PATH') }}fp" title="指紋測試">Canvas Fingerprint</a>
                        </h4>
                        <p class="card-text mb-auto">
                            測試一個指紋套件(使用 Canvas Fingerprint)
                        </p>
                    </div>
                </div>
            </div>
            <!-- Split into 3--->

            <div class="col-md-12">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <span class="col p-4 d-flex flex-column position-static">
                        </strong>
                        <div class="tags">
                        </div>
                        <h3 class="mb-0">
                            Misc
                        </h3>
                        <br/>
                        <h4 class="mb-0">
                            <a href="{{ constant('BASE_PATH') }}blues" title="">Blues Events Taipei</a>
                        </h4>
                        <span class="card-text mb-auto">介紹台北藍調活動 </span>
                        <span class="card-text mb-auto">Work In Progress </span>
                        <h4 class="mb-0">
                            <a href="{{ constant('BASE_PATH') }}wed" title="">WeddingHelperAlbum</a>
                        </h4>
                        <span class="card-text mb-auto">婚禮小幫手-相簿 </span>
                        <span class="card-text mb-auto">利用 LineChatbot 收集婚禮照片 </span>
{#                        <h4 class="mb-0">#}
{#                            </span>#}
{#                            <a href="{{ constant('BASE_PATH') }}goose" title="">GooseBrother</a>#}
{#                        </h4>#}
{#                        <span class="card-text mb-auto">一個趣味 Meme Generator (still working...)</span>#}
        </div>
    </div>
    </div>
    <!-- Load JS and stuff -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
    </script>

{% endblock %}
